In [2]:
import pandas as pd

In [3]:
# load data from 'Covid by State.csv'
covid = pd.read_csv('../Data/Covid by State.csv', usecols = ['state', 'fips', 'cases', 'deaths', 'confirmed_cases', 'confirmed_deaths'])

# create a calculated field 'death_rate_confirmed' = 'confirmed_deaths'/'confirmed_cases'
covid['death_rate_confirmed'] = covid['confirmed_deaths']/covid['confirmed_cases']

# create a calculated field 'death_rate' = 'deaths'/'cases'
covid['death_rate'] = covid['deaths']/covid['cases']

covid.head()

,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,death_rate_confirmed,death_rate
0,Alabama,1,213617,3231,180275.0,2989.0,0.016580,0.015125
1,Alaska,2,21689,90,NaN,NaN,NaN,0.004150
2,Arizona,4,270596,6257,NaN,NaN,NaN,0.023123
3,Arkansas,5,130318,2148,116787.0,1968.0,0.016851,0.016483
4,California,6,1018433,18215,1015239.0,18215.0,0.017942,0.017885

In [4]:
# load data from 'Mask Use by State.csv'
maskUse = pd.read_csv('../Data/Mask Use by State.csv').rename(columns = {'State fips': 'fips'})
maskUse.head()

   fips     NEVER    RARELY  SOMETIMES  FREQUENTLY    ALWAYS
0     1  0.081567  0.081090   0.146612    0.215343  0.475313
1     2  0.055593  0.065037   0.088815    0.328889  0.461556
2     4  0.049667  0.053200   0.094667    0.147333  0.655000
3     5  0.090920  0.087253   0.138360    0.220627  0.462867
4     6  0.032310  0.030724   0.063690    0.158603  0.714638

In [8]:
# load data from 'Population by State.csv'
population = pd.read_csv('../Data/Population by State.csv').drop(['State'], axis = 1).rename(columns = {'State fips': 'fips'})
population.head()

     Census  Estimates Base  fips
0   4779736         4780125     1
1    415593          415648     2
2   6392017         6392288     4
3   2915918         2916031     5
4  37253956        37254519     6

In [ ]:
# load data from 'Hospital Utilization by State.csv'
hospital = pd.read_csv('../Data/Hospital Utilization by State.csv').drop(['OBJECTID', 'state_name'], axis = 1).rename(columns={'State_fips': 'fips'})

In [21]:
# load data from 'Health Insurance by State.csv'
insurance = pd.read_csv('../Data/Health Insurance by State.csv').drop(['State'], axis = 1).rename(columns={'State_fips': 'fips'})

In [22]:
# merge covid with maskUse, population, hospital, insurance
merged = pd.merge(covid, maskUse)
merged = pd.merge(merged, population)
merged = pd.merge(merged, hospital)
merged = pd.merge(merged, insurance)

In [27]:
pd.read_csv('../Data/Aggregated by State.csv').head()

,state,State_fips,cases,deaths,confirmed_cases,confirmed_deaths,death_rate_comfirmed,death_rate,NEVER,RARELY,...,Uninsured,Private,Employer-based,Direct-purchase,TRICARE,Public,Medicaid,Medicare,VA Care,Any_coverage/population
0,Alabama,1,213617,3231,180275.0,2989.0,0.016580,0.015125,0.081567,0.081090,...,469000,3228000,2607000,640000,231000,1797000,947000,1003000,132000,0.910929
1,Alaska,2,21689,90,NaN,NaN,NaN,0.004150,0.055593,0.065037,...,86000,457000,382000,52000,69000,248000,154000,99000,29000,1.491844
2,Arizona,4,270596,6257,NaN,NaN,NaN,0.023123,0.049667,0.053200,...,809000,4490000,3629000,898000,242000,2750000,1492000,1413000,212000,0.994522
3,Arkansas,5,130318,2148,116787.0,1968.0,0.016851,0.016483,0.090920,0.087253,...,271000,1757000,1386000,388000,92000,1303000,787000,614000,94000,0.923208
4,California,6,1018433,18215,1015239.0,18215.0,0.017942,0.017885,0.032310,0.030724,...,3002000,24913000,20687000,4729000,678000,14749000,9926000,6100000,585000,0.966233

In [28]:
merged.head()

,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,death_rate_confirmed,death_rate,NEVER,RARELY,...,Any coverage,Uninsured,Private,Employer-based,Direct-purchase,TRICARE,Public,Medicaid,Medicare,VA Care
0,Alabama,1,213617,3231,180275.0,2989.0,0.016580,0.015125,0.081567,0.081090,...,4354000,469000,3228000,2607000,640000,231000,1797000,947000,1003000,132000
1,Alaska,2,21689,90,NaN,NaN,NaN,0.004150,0.055593,0.065037,...,620000,86000,457000,382000,52000,69000,248000,154000,99000,29000
2,Arizona,4,270596,6257,NaN,NaN,NaN,0.023123,0.049667,0.053200,...,6357000,809000,4490000,3629000,898000,242000,2750000,1492000,1413000,212000
3,Arkansas,5,130318,2148,116787.0,1968.0,0.016851,0.016483,0.090920,0.087253,...,2692000,271000,1757000,1386000,388000,92000,1303000,787000,614000,94000
4,California,6,1018433,18215,1015239.0,18215.0,0.017942,0.017885,0.032310,0.030724,...,35996000,3002000,24913000,20687000,4729000,678000,14749000,9926000,6100000,585000

In [ ]:
# create a calculated field 'cases/population' = 'cases'/Census'
merged['cases/population'] = merged['cases']/merged['Census']
merged.head()